@{
    ViewBag.Title = "Homepage";
}
<div class="row">
    <div class="col-md-6">
        <div class="animal-info">
            <img src="https://camo.mybb.com/e01de90be6012adc1b1701dba899491a9348ae79/687474703a2f2f7777772e6a71756572797363726970742e6e65742f696d616765732f53696d706c6573742d526573706f6e736976652d6a51756572792d496d6167652d4c69676874626f782d506c7567696e2d73696d706c652d6c69676874626f782e6a7067"/>
            <h3>Red Panda</h3>
            <ul animal-props>
                <li>Origin: Himalaya</li>
                <li>Type: Bear</li>
            </ul>
            <button id="like" class="btn btn-success">Buy</button>
        </div>
        <div id="theform">
            <form>
                <label>Name:</label>
                <input/>
                <label>Email:</label>
                <input />
            </form>
        </div>
    </div>
    <div class="col-md-6">Cool</div>

</div>